<div class='about'>
  <div class='col-md-5'>
    <section>
      <h2>About LOL Killuns</h2>
      <p>
        This started as a project during a break from attending
        <%= link_to 'Ada Developers Academy', 'http://adadevelopersacademy.org/' %>.
        I couldn't put it down until I had a version that was live and I was happy with.
      </p>
      <p>
        I had a lot of fun with LOL Killuns and working with the League of Legend API.
        I hope you will enjoy it too.
      </p>
    </section>
    <section>
      <h3>Legal Statement </h3>
      <p>
        LOL Killuns isn't endorsed by Riot Games and
        doesn't reflect the views or opinions of Riot Games
        or anyone officially involved in producing or managing
        League of Legends. League of Legends and Riot Games are
        trademarks or registered trademarks of Riot Games, Inc.
        League of Legends © Riot Games, Inc.
      </p>
    </section>
  </div>
</div>
