<div class='index'>
  <div class='input-section'>
    <h1>League of Legends Killuns</h1>

    <h3> Please enter summoner name below. </h3>
    <%= flash[:error]%>

    <%= form_tag  %>
    <%= text_field_tag :summoner_name %>

    <%= submit_tag 'Submit', class: 'btn btn-default' %>
  </div>
</div>
