<h1>Summoner Profile </h1>
<h2>
  <%= image_tag(@summoner[:icon]) %>
  <%= @summoner[:screen_name] %>
  Level <%= @summoner[:level] %>
</h2>

<%= link_to "Summary", summary_path(@summoner[:id]) %>

<p>
</p>
