// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Arbutus Slab', serif;
}
#background_image {
  float: left;
}

h1,h2 {
  margin: auto;
}

.index {
  padding-bottom: 40%;
  background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Anivia_0.jpg');
}

.input-section {
  color: #C0F5F3;
  background-color: rgba(101, 65, 159, 0.4);
}
