// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Arbutus Slab', serif;
}

h1,h2 {
  margin: auto;
}

.index {
  padding-bottom: 40%;
  background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Anivia_0.jpg');
}


.input-section {
  color: rgb(144, 226, 223);
  background-color: rgba(101, 65, 159, 0.4);
}

.about {
  padding-bottom: 60%;
  background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Jinx_0.jpg');
  color: rgb(144, 226, 223);
  font-size: 1.5em;
}

section {
  background-color: rgba(101, 65, 159, 0.4);
}
